<!DOCTYPE html>
<html ng-app="myApp" >
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="introang3.css">
	<title>Title!</title>
</head>
<body ng-controller="myController">
		<div>
			<button class="button" ng-click="click()">
				<p>BUTTON</p>
			</button>
		</div>
		<div ng-show="hiddenDiv"><button class="hDiv" ng-click="click2()">
			<p>Close Me!</p>
		</button></div>
		<script type="text/javascript" src="introang3.js"></script>
</body>
</html>