<!DOCTYPE html>
<html ng-app="button" >
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>Title!</title>
</head>
<body ng-controller="buttonController">
		<div>
			<button class="button1" ng-click="click()">
				<p>BUTTON</p>
			</button>
		</div>
		<div>
 			<button class="button2" ng-click="click2()">
 				<p>BUTTON!!</p>
				</button>
		</div>
		<ul ng-show="hidden2">
			<li>list1</li>
			<li>list2</li>
			<li>list3</li>
		</ul>
		<h1 ng-show="hidden">REDRUM</h1>
		<script type="text/javascript" src="introang.js"></script>
</body>
</html>